{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Order Placed | HappyBuy</title>
    <link rel="stylesheet" href="{% static 'store/style.css' %}" />
  </head>
  <body>
    <header class="navbar">
      <h1 class="brand">HappyBuy</h1>
    </header>

    <section class="fade-in" style="text-align: center; padding: 80px">
      <h1>Thank you for your order 💖</h1>
      <p>Your items will be delivered soon.</p>

      <a href="/">
        <button style="margin-top: 30px">Continue Shopping</button>
      </a>
    </section>
  </body>
</html>
